.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  position: relative;
}

.formCont {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.main p {
  font-size: 1.2rem;
  line-height: 110%;
  letter-spacing: 0.11rem;
}

.formCont input {
  background-color: white;
  outline: none;
  border: none;
  padding: 0.4rem 0.9rem;
  border-radius: 0.15rem;
  min-width: 12rem;
  color: black;
  letter-spacing: 0.11rem;
}

.formCont button {
  background-color: blue;
  outline: none;
  border: none;
  border-radius: 0.15rem;
  padding: 0.4rem 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.11rem;
  cursor: pointer;
}

.formCont button:disabled {
  color: white;
  background-color: gray;
  cursor: default;
}

.msg {
  position: absolute;
  top: 6rem;
}

.details {
  margin-top: 2rem;
}

.details p {
  font-weight: 500;
}

.details span {
  font-weight: 700;
}

.details p+p {
  margin-top: 0.4rem;
}